h1 {
color: maroon;
}

h3 {
    color: maroon;
    }

    body {
        background-color:grey;
        font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
        font-size: large;
        font-weight: 480;
    }
.yellow{
    color: burlywood;
    font-weight: 800;
}