<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link href="main.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1>Add Product</h1>
    <form action="/product" method="post">
        Product Name: <input type="text" name="pname" /> <br />
        Price: <input type="text" name="price" /><br />
        Country Of Origin: <input type="text" name="origin" /><br />
        <button>Submit</button>
    </form>
</body>

</html>